<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerMaster</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/styledoc.css">
    </head>

    <body>
      <main class="header">
        <h1 > Welcome to Burger Master</h1>
        <img src= "https://raster-static.postmates.com/?url=https%3A%2F%2Fd1725r39asqzt3.cloudfront.net%2F2957b79a-1d27-4336-92f5-7427c0b3e4b1%2Forig.jpg&quality=85&w=640&h=0&mode=auto&format=webp&v=4" alt="Header" title="Headerpicture">
      </main>



      <section id="select">
        <h2>Select burger</h2>
        <p> This is where you choose your burger </p>
        <table class="table">
          <thead>
            <th> El Maco GRANDE </th>
            <th> Deluxe Sandwich </th>
            <th> Halloumiburgare </th>
          </thead>

          <tbody>
          <tr>

        <td>
          <center>
          <img src="https://www.mcdonalds.com/content/dam/nordic/nfl/nutrition/Items/Regular/mcd-sv-elmaco-big.jpg" alt="El Maco GRANDE" title="El Maco GRANDE" width="200">
          </center>
          <ul>
            <li> <span class="allergy"> Cheese </span></li>
            <li> <span class="allergy">Beef </span></li>
            <li>Tomato </li>
            <li>Salsa </li>
            <li><span class="allergy"> Wheat burger bun </span> </li>


          </ul>

          </td>


        <td>
          <center>
            <img src="https://www.cfacdn.com/img/order/COM/Menu_Refresh/Entree/Entree%20PDP/_0000s_0004_NEWStack6200001CFAPDPDeluxeSandwich1085png.png" alt="Chicken Sandwich" title="Chicken Sandwich" width="200">
          </center>
        <ul>
          <li><span class="allergy"> Cheese </span></li>
          <li><span class="allergy"> Chicken </span> </li>
          <li>Tomato </li>
          <li>Original sauce </li>
          <li><span class="allergy"> Wheat burger bun </span> </li>
        </ul>

      </td>

      <td>
        <center>
          <img src="https://www.max.se/contentassets/bd97342be78047eb8f8026452d545538/product_halloumiburgare.png?width=1024&sharpen=5&sigma=1,4&threshold=0" alt="Halloumiburgare" title="Halloumiburgare" width="200">
        </center>
        <ul>
          <li>Onion</li>
          <li> <span class="allergy"> Halloumi </span> </li>
          <li>Tomato </li>
          <li>Original sauce </li>
          <li> <span class="allergy"> Wheat burger bun </span> </li>
        </ul>
        </td>
      </tr>
      </tbody>
      </table>

      </section>

      <section id="information">
        <h2>Customer information</h2>
        <p> This is where you fill out your contact information </p>


        <p>
          <label for="fullname">Full name</label><br>
          <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name">
        </p>

        <p>
          <label for="mail">Email</label><br>
          <input type="email" id="mail" name="fn" required="required" placeholder="E-mail address">
        </p>

        <p>
          <label for="street">Street</label><br>
          <input type="text" id="street" name="fn" required="required" placeholder="Street name">
        </p>


        <p>
          <label for="number">House number</label><br>
          <input type="number" id="number" name="fn" required="required" placeholder="House number">
        </p>

        <p>
          <label for="payment">Payment method</label>
          <select id="payment" name="pay">
            <option>Swish</option>
            <option>Card</option>
            <option>Cash</option>
          </select>
        </p>
        <p> Gender </p>
        <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
        <input type="radio" checked="checked" id="other" name="gender" value="other">
          <label for="other">Other</label>

      </section>

      <button type="submit" class="submit" ><img src=https://thumbs.dreamstime.com/b/hamburgare-f%C3%B6r-amerikansk-ost-f%C3%B6r-tecknad-film-l%C3%A4cker-klassisk-med-gr%C3%B6nsaker-37910605.jpg alt="Send order" title="Send order" width="50">  Send order</button>

      <footer><hr>Siri Nordlander Inc</footer>
    </body>
</html>
