<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerMaster</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/styledoc.css">
        <script src="js/menu.js" defer></script>
        <link rel="stylesheet" href="css/deli-very.css">
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/vue_script.js" defer></script>

    </head>

    <body>
      <main>
      <header class="header">
        <img src= "https://raster-static.postmates.com/?url=https%3A%2F%2Fd1725r39asqzt3.cloudfront.net%2F2957b79a-1d27-4336-92f5-7427c0b3e4b1%2Forig.jpg&quality=85&w=640&h=0&mode=auto&format=webp&v=4" alt="Header" title="Headerpicture">
        <h1 > Welcome to Burger Master</h1>

      </header>

      <div id = "lalala">

      <section id="select">
        <h2>Select burger</h2>
        <p> This is where you choose your burger </p>

      <div id="vmenu" class="box">
       <div v-for="burger in burger_list">
          <div class=burger>{{burger.burgerName}}</div>
          <img :src = "burger.imgURL"> <br>
          <div v-if = "burger.lactose == true || burger.gluten == true"> This burger contain </div>

          <div v-if="burger.lactose == true" class="ingredients">
            - lactose
          </div>
          <div v-if= "burger.gluten == true" class="ingredients">
             - gluten
          </div>
          <input type="checkbox" :value=burger.burgerName  name="burgare"> Add to order </input> <br>
          </div>
        </div>

      </section>

      <section id="information">
        <h2>Customer information</h2>
        <p> This is where you fill out your contact information </p>


        <p>
          <label for="fullname">Full name</label><br>
          <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name">
        </p>

        <p>
          <label for="mail">Email</label><br>
          <input type="email" id="mail" name="mai" required="required" placeholder="E-mail address">
        </p>
        <!--  <p>
                 <label for="street">Street</label><br>
                 <input type="text" id="street" name="str" required="required" placeholder="Street name">
               </p>
               <p>
                 <label for="number">House number</label><br>
                 <input type="number" id="number" name="hn" required="required" placeholder="House number">
               </p>
               </p>-->
        <p>
          <label for="payment">Payment method</label>
          <select id="payment" name="pay">
            <option>Swish</option>
            <option>Card</option>
            <option>Cash</option>
          </select>
        </p>
        <p>
        <label for="gender"> Gender</label><br>
          <input type="radio" id="male" name="gender" value="Male">Male</input>
          <input type="radio" name="gender" value="Female">Female</input>
          <input type="radio" checked="checked" name="gender" value="Other">Other</input>
         </p>
      </section>


        <h1> Click in the map! </h1>
        <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
        <div class="view-box">
          <div id="dots" v-on:click="displayOrder">
              <div
                v-bind:style="{ left: ordLocation.details.x + 'px', top: ordLocation.details.y + 'px'}">
                T
              </div>
          </div>
        </div>



      <div id = "order">
          <button id="orderb" v-on:click="addOrder"> <img src=https://thumbs.dreamstime.com/b/hamburgare-f%C3%B6r-amerikansk-ost-f%C3%B6r-tecknad-film-l%C3%A4cker-klassisk-med-gr%C3%B6nsaker-37910605.jpg alt="Send order" title="Send order" width="50"> Send order

          </button>

        <h3 id="infoDisp"> </h3>
        <div id="nameDisp"></div>
        <div id="mailDisp"></div>
        <div id="payDisp"></div>
        <div id="genderDisp"></div>

        <div id="infoBurger"> </div>
      </div>

    </div>


      <footer><hr>Siri Nordlander Inc</footer>

     </main>
    </body>
</html>
